/* .nav-avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.nav-logo-image{
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.navbar{
  justify-content: space-evenly;
  align-items: center;
  padding: 1px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.header-image {
  justify-content: left;
}
#nav-container{
  flex-wrap: nowrap;
}
/* footer  */
/* .footer {
  background-color: rgb(224, 224, 224);
  color: rgb(102, 102, 102);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
} */ */
