@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

.App {
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: black;
  color:white;
}

body{
  /* font-family: Arial, Helvetica, sans-serif; */
  color: rgb(102, 102, 102);
}


/* links */
a{
  color: rgb(102, 102, 102);
  margin: 1em;
  text-decoration: none;
  display: inline-block;
}
a:hover{
  color: rgb(204, 204, 204);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}

/* Links end here */

/* Login Page CSS starts here - fix later Monday evening  */

     .login-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem auto;
      padding: 2rem;
      border: 2px solid #eee;
      border-radius: 1rem;
      background-color: #fff;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      width: 80%;
      max-width: 600px;
      color: navy;
    }
    
    .login-container h2 {
      font-size: 2rem;
      color: navy;
      margin-bottom: 1rem;
    }
    
    .login-element {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 100%;
    }
    
    .login-element label {
      font-size: 1.5rem;
      color: navy;
      margin-bottom: 0.5rem;
    }
    
    .login-element input {
      padding: 1rem;
      border: none;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #333;
      background-color: #eee;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out;
      width: 100%;
    }
    
    .login-element input:focus {
      outline: none;
      border: 2px solid #f8d43b;
      box-shadow: 0 0 10px #f8d43b;
    }
    
    .login-element input:focus::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border-radius: 0.5rem;
      background: linear-gradient(
        90deg,
        #f8d43b,
        #f8d43b 50%,
        transparent 50%
      );
      background-size: 400%;
      z-index: -1;
      animation: animate 1.5s linear infinite;
    }
    
    input[type="login-submit"] {
      background-color: navy;
      color: #fff;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      width: 50%;
      margin: 0 auto;
      display: block;
      text-align: center;
    }
    
    input[type="login-submit"]:hover {
      background-color: #f8d43b;
      color: navy;
      transform: translateY(-2px);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    input[type="login-submit"]:active {
      transform: translateY(0);
      box-shadow: none;
    }
    
/* Login Page CSS ends here */

/* admin page css starts here */

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1c2237;
  color: white;
}

.admin-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.admin-description {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.admin-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.admin-link {
  font-size: 2rem;
  padding: 1rem 2rem;
  margin: 2rem;
  background: linear-gradient(to right, #ffd700, #ffd700 50%, #1c2237 50%, #1c2237);
  background-size: 200% 100%;
  background-position: left bottom;
  border-radius: 5px;
  color: #1c2237;
  text-decoration: none;
  transition: all 0.3s ease;
}

.admin-link:hover {
  box-shadow: 0 0 10px 2px #e89e1c;
  background-position: right bottom;
  color: #ffd700;
}

.admin-link:hover::before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 5px;
  box-shadow: 0 0 20px 5px #ffd700;
  z-index: -1;
}

.admin-link:first-child:hover::before {
  transform: skewX(20deg) translateX(15px);
}

.admin-link:last-child:hover::before {
  transform: skewX(-20deg) translateX(-15px);
}


/* admin page css ends here */


/* Header */

.header {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  padding: 1px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
} 



.header-logo-image {
  position: fixed;
  left: 40px;
  width: 80px;
  object-fit: contain; 
} 

#nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
} 

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
} 

 .header-nav a {
  margin: 10px;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
} 

.header-nav a:hover {
  color: blue;
}

.header-avatar-container {
  position: relative;
  width: 40px;
  height: 40x;
  cursor: pointer;
  transition: all 0.3s ease;
  } 

  .header-avatar-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  }
  
  .header-avatar-container::before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  }
  
  .header-avatar-container:hover::before {
  border-color: blue;
  box-shadow: 0 0 5px 2px yellow;
  animation: glow-gold-navy 1s infinite;
  } 

  @keyframes glow-gold-navy {
  0% {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
  }
  50% {
  box-shadow: 0 0 40px rgba(255, 215, 0, 0.8), 0 0 20px navy;
  }
  100% {
  box-shadow: 0 0 20px navy;
  }
}


/* modified input search adapted from Header.js */
.header-search {
  display: flex;
  align-items: center;
}

.header-search input[type="search"] {
  padding: 10px;
  border: none;
  border-radius: 30px;
  margin: 10px;
  width: 250px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.header-search input[type="search"]:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.header-search input[type="search"]::placeholder {
  color: #999;
}

.header-search input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: url('https://img.icons8.com/material-outlined/24/000000/search--v1.png') no-repeat center center;
  background-size: 16px 16px;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.header-search input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 1;
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #fff);
} 



/* header css ends here */




/* navbar starts here */
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:navy;
  height: 4rem;
  font-family: 'Teko', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

/* popcorngif stuff */

.popcorn-container {
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
}

.popcorn-gif {
  margin-right: 10px;
}

.popcorn-gif img {
  height: 60px;
  display: block;
  margin: 0 auto;
}

/* more rounded appearance and transition effect */
.navBar a {
  color: white;
  text-decoration: none;
  margin: 0 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
  font-size: xx-large;
}

/* r targets the anchor tags when they are hovered over 
and sets the background colour to more of the blockbuster yellow */
.navBar a:hover {
  background-color: #e89e1c;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/*  target the first and last anchor tags in the navBar 
and remove the margin on the left and right respectively. */
.navBar a:first-child {
  margin-left: 0;
}

.navBar a:last-child {
  margin-right: 0;
}


/* banner css starts here */




/* banner css ends here */


/* homepage CSS starts here */


/* homepage CSS ends here */

/* movie CSS starts here */

/* movie CSS ends here */


/* newmovieslider css starts here FIX!! remove and redo */

.banner-image {
  height: 600px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1rem;
}


@keyframes glowing-shimmer-gold {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 215, 0, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  }
}

.banner-image:hover {
  transform: scale(1.1);
  z-index: 1;
  position: relative;
  animation: glowing-shimmer-gold 1.5s infinite;
}




.banner-trailer {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

button {
  background-color: #F5C518;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #00BFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.banner-container {
  position: relative;
  overflow: hidden;
}

.banner-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .banner-image {
    height: 400px;
  }
}

.new-movies-slider-container {
  position: relative;
}

#image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

@keyframes glowing-shimmer {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

#image:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
  /* animation: glowing-shimmer 1.5s infinite; */
}


.new-movies-slider-container center {
  padding: 10px;
  overflow: visible;
}

.new-movies-slider-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  z-index: 2;
  position: relative;
}


/* newmovieslider css ends here */

/* blockbuster originals hover feature here */

.originals-container {
  position: relative;
  
}

.originals-container #image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

.originals-container #image:hover {
  transform: scale(1.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

.originals-container center {
  padding: 10px;
  overflow: visible;
}

.originals-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  z-index: 2;
  position: relative; 
}
/* blockbuster originals hover feature ends here */

/* toprated hover feature starts here */

.top-rated-container {
  position: relative;
}

.top-rated-container #image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

.top-rated-container #image:hover {
  transform: scale(1.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

.top-rated-container center {
  padding: 10px;
  overflow: visible;
}

.top-rated-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  z-index: 2;
  position: relative;
}

/* toprated hover feature ends here */

/* action hover feature starts here */

.action-container {
  position: relative;
}

.action-container #image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

.action-container #image:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

.action-container center {
  padding: 10px;
  overflow: visible;
}

.action-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  z-index: 2;
  position: relative;
}

/* action hover feature ends here */

/* comedy hover feature starts here */

.comedy-container {
  position: relative;
}

.comedy-container #image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

.comedy-container #image:hover {
  transform: scale(1.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

.comedy-container center {
  padding: 10px;
  overflow: visible;
}

.comedy-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  z-index: 2;
  position: relative;
}

/* comedy hover feature ends here */

/* documentary hover feature starts here */

.documentaries-container {
  position: relative;
}

.documentaries-container #image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

.documentaries-container #image:hover {
  transform: scale(1.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

.documentaries-container center {
  padding: 10px;
  overflow: visible;
  border-radius: 1rem;
}

.documentaries-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  z-index: 2;
  position: relative;
}

/* documentary hover feature ends here */

/* horror hover feature starts here  */

.horror-container {
  position: relative;
}

.horror-container #image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

.horror-container #image:hover {
  transform: scale(1.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

.horror-container center {
  padding: 10px;
  overflow: visible;
}

.horror-container h3 {
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  z-index: 2;
  position: relative;
}

/* horror hover feature ends here  */

/* navbar page css starts here - ACTION PAGE */



/* navbar ACTION PAGE ends here */

/* Subscribe  */

.subscribe {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: flex-start; */
  justify-content: center; 
  align-items: center;
  background-color: #111;
  padding: 3rem;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  /* new */
  position: relative;
}

.subscribe h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.subscribe-form label {
  margin-right: 1rem;
}

.subscribe-form input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-right: 1rem;
}

.subscribe-form input[type="submit"] {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ffd700;
  color: #fff;
  cursor: pointer;
}

.subscribe-form input[type="submit"]:hover {
  background-color: #ff8c00;
}

.subscribe-timer {
  margin-top: 3rem;
  text-align: center;
}

.subscribe-timer h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#timer {
  font-size: 2rem;
  font-weight: bold;
  color: #ffd700;
  text-shadow: 0 0 5px #fff;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #111;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  animation: glow 2s ease-in-out infinite;
}

.subscribed-users {
  margin-top: 3rem;
  text-align: center;
}

.subscribed-users h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.subscribed-users ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subscribed-users li {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #ffd700;
  text-shadow: 0 0 5px #fff;
  animation: neon 2s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  }
}

@keyframes neon {
  0% {
    color: #ffd700;
    text-shadow: 0 0 5px #fff;
  }
  50% {
    color: #fff;
    text-shadow: 0 0 15px #ffd700;
  }
  100% {
    color: #ffd700;
    text-shadow: 0 0 5px #fff;
  }
}

.new-movie {
  width: 750px;
  margin: 0 auto;
  text-align: center;
}

.new-movie img {
  width: 110%;
  height: auto;
  transition: 0.3s;
  border-radius: 1rem;
  position: relative;
}

.new-movie img:hover {
  transform: scale(1.1);
  animation: glowing-shimmer-gold 2s infinite alternate, glowing-shimmer-navy 2s infinite alternate;
  animation-delay: 0s, 1s;
}

.new-movie button {
  display: block;
  margin: 10px auto;
}


/* End of Subscribe CSS */

/* Extra info CSS start */

.extraInfo {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 50px;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.extraInfo h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.extraInfo a {
  display: block;
  margin-bottom: 0.5rem;
  color: #ffd700;
  text-decoration: none;
  transition: all 0.2s;
}

.extraInfo a:hover {
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.extraInfo > div {
  flex-basis: 20%;
}

/* End of extra info CSS */

/* Start of footer CSS */

.footer {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 2rem;
}

.contact,
.payment,
.socials {
  display: flex;
  align-items: center;
}

.contact p,
.payment p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 1rem;
  transition: all 0.2s;
}

.socials a:hover {
  transform: scale(1.2);
}

.socials a svg {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
}

.payment p {
  font-size: 1.3rem;
}

.payment svg {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  color: #ffd700;
}

.payment svg:last-child {
  margin-left: 0.5rem;
}

.payment svg:hover {
  color: white;
  transform: rotate(45deg);
}

.payment svg:last-child:hover {
  transform: scale(1.2) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .socials {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .socials a {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .payment {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* end of footer CSS */

/* movie form css begins here */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 2rem;
  border: 2px solid #eee;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  color: navy;
}

.form-container h3 {
  font-size: 2rem;
  color: navy;
  margin-bottom: 1rem;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.form-element label {
  font-size: 1.5rem;
  color: navy;
  margin-bottom: 0.5rem;
}

.form-element input {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
  background-color: #eee;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.form-element input:focus {
  outline: none;
  border: 2px solid #f8d43b;
  box-shadow: 0 0 10px #f8d43b;
}

.form-element input:focus::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    #f8d43b,
    #f8d43b 50%,
    transparent 50%
  );
  background-size: 400%;
  z-index: -1;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.form-element input::placeholder {
  color: #666;
}

input[type="submit"] {
  padding: 1rem 2rem;
  border: none;
  background-color: navy;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00BFFF;
  color: navy;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* movie form css ends here */

/* movielist starts here */

.movie-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 80%;
  max-width: 800px;
}

.movie-tile-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.movie-tile {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.movie-tile:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

.movie-tile img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.movie-duration {
  color: #f8d43b;
  font-weight: bold;
}

.movie-rating {
  color: #141414;
  font-weight: bold;
}

.movie-language {
  color: #141414;
  font-weight: bold;
}

.movie-genre {
  color: #141414;
  font-weight: bold;
}

.movie-review {
  flex: 1;
  color: #141414;
  margin-left: 1rem;
}

/* movie list css ends here */

/* cast list css starts here */

.cast-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
/*grid template columns - defines the number and size of columns in a grid container.*/

.cast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #eee;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.cast img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.cast h3 {
  font-size: 1.5rem;
  color: navy;
  margin-bottom: 0.5rem;
}

.cast p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.cast button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: navy;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cast button:hover {
  background-color: #00BFFF;
  color: navy;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* media queries cast list */

/* cast list css ends here */

/*Home Page Backgroud Colour*/


/* Header CSS */

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  }
  
  .header-logo-image {
  margin-right: 20px;
  }
  
  .header-nav {
  display: flex;
  gap: 20px;
  margin-right: auto;

  /* font size */
  /* font-size: calc(1rem + 5 * 1px);
  font-weight: bold;
  text-decoration: none; */
  }
  
  .header-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  font-size: x-large;
  }
  
  .header-nav a:hover {
  background-color: #e89e1c;
  color: navy;
  }
  
  .header-search {
  display: flex;
  align-items: center;
  }
  .header-search input[type="search"] {
  padding: 10px;
  border: none;
  border-radius: 30px;
  margin: 10px;
  width: 250px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  }
  
  .header-search input[type="search"]:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  animation: glow-gold 1s infinite;
  /* font size */
  font-size: calc(1rem + 5 * 1px);
  font-weight: bold;
  }
  
   @keyframes glow-gold {
  0% {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
  }
  50% {
  box-shadow: 0 0 40px rgba(255, 215, 0, 0.8);
  }
  100% {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
  }
  }
  
  .header-search input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: url('https://img.icons8.com/material-outlined/24/000000/search--v1.png') no-repeat center center;
  background-size: 16px 16px;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
  }
  
  .header-search input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 1;
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #fff);
  }
  
  .header-search input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  transition: all 0.3s ease;
  }
  
  .header-search input[type="search"]:focus::-webkit-search-cancel-button:hover {
  opacity: 1;
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #fff);
  text-shadow: 0px 0px 20px rgba(255, 215, 0, 0.8);
  animation: glow-gold 1s infinite;
  }
  
  .header-search input[type="search"]::placeholder {
  color: #999;
  transition: all 0.3s ease;
  }
  
  .header-search input[type="search"]:focus::placeholder {
  color: #999;
  transition: all 0.3s ease;
  text-shadow: 0px 0px 20px rgba(255, 215, 0,0.8);
  animation: glow-gold 1s infinite;
  }
  
  .header-search input[type="search"]:hover::placeholder {
  color: #ccc;
  transition: all 0.3s ease;
  }
  
  .header-search input[type="search"]:focus::placeholder {
  color: #999;
  transition: all 0.3s ease;
  text-shadow: 0px 0px 20px rgba(255, 215, 0, 0.8);
  animation: glow-gold 1s infinite;
  }
  
  .header-search input[type="search"]:focus::-webkit-search-cancel-button:hover::after {
  content: "Clear";
  position: absolute;
  background-color: rgba(255, 215, 0, 0.8);
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  }
  
  .header-search input[type="search"]:focus::-webkit-search-cancel-button::after {
  content: "x";
  color: white;
  font-size: 14px;
  }
  
  .header-search input[type="search"]:focus::-webkit-search-cancel-button:hover {
  opacity: 1;
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #fff);
  animation: glow-gold 1s infinite;
  }
  
  .header-search input[type="search"]:focus::-webkit-search-cancel-button:hover::after {
  content: "Clear";
  position: absolute;
  background-color: rgba(255, 215, 0, 0.8);
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  }
  
  .header-search input[type="search"]:focus::-webkit-search-cancel-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 7px 0 7px;
  border-color: #fff transparent transparent transparent;
  transform: translate(-50%, -50%);
  }
  
  .header-search input[type="search"]:hover::-webkit-search-cancel-button::before {
  border-color: #ccc transparent transparent transparent;
  }
  
  .header-search input[type="search"]:focus::-webkit-search-cancel-button::before {
  border-color: rgba(255, 215, 0, 0.8) transparent transparent transparent;
  }
  
  .header-search input[type="search"]::-webkit-search-results-button {
  display: none;
  }
  
  .header-search input[type="search"]::-webkit-search-results-decoration {
  display: none;
  }
  
  .header-search input[type="search"]::-webkit-search-decoration {
  display: none;
  }

/* header CSS ends here */

/* CSS for nav dots in React Slider */
/* .slick-dots-custom li {
  display: inline-block;
  margin:20px;
}

.slick-dots-custom li button {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
}

.slick-dots-custom li.slick-active button {
  background-color: aqua;
}  */

.slick-dots-custom li {
  display: inline-block;
  margin: 20px;
}

.slick-dots-custom li button {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
}

.slick-dots-custom li.slick-active button {
  background-color: aqua;
} 

.slick-dots-custom li span {
  display: block;
  margin-top: 5px;
}



/* css for nav dots ends here */

/* video page css starts here */

.video-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  width: 100%;
}

.video-page video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-page button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}



/* video page css ends here */







